body{
    background-color: #ED0F0E;
}
.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: #EEEDEB;
    
}

.black-bkgd {
    background-color: #292927;
}

h1{
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: #E2BC37;
}
.btn-container{
    display: flex;
    justify-content: center;
    width: auto;
}
button{
    margin: 1rem;
    background-color: #FBFAFF;
}

.grid-wrapper{
    display: flex;
    justify-content: center;
}